* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  padding: 20px 250px 20px 250px;
}

section {
  padding: 40px;
}

.author {
  padding: 10px;
}

.author-header {
  text-align: center;
}

.author {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}

.img-container {
  border: 2px solid black;
}

.user-infos {
  border: 2px solid black;
  padding: 10px;
}
